In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("training-data.csv")

In [6]:
df

   Age  Salary  income Class
0   65      65    23.4     G
1   47      15    36.5     B
2   34      75    77.2     G
3   97      40    25.4     B
4   36     100    99.0     G
5   24      60    26.0     G
6   43      56    43.2     B
7   23      90    22.6     B
8   12      23    23.2     G

In [9]:
def presort(attr, dataset):
	attrList = []
	attr['value'] = {}
	for attrIndex in xrange(attr['length']):
		# all attribute combinations
		if attr['type'][attrIndex] == 'b':	
			attr['value'][attrIndex] = ['yes']
		elif attr['type'][attrIndex] == 'n':	
			attr['value'][attrIndex] = sorted(list(set([data[attrIndex] for data in dataset])))
		elif attr['type'][attrIndex] == 'c':	
			attr['value'][attrIndex] = subset(list(set([data[attrIndex] for data in dataset])))
		# sorted attribute lists
		currAttrList = []
		for dataIndex in xrange(len(dataset)):
			currAttrList.append([dataset[dataIndex][attrIndex], dataIndex])
		attrList.append(sorted(currAttrList))
	return attrList, [[data[attr['length']],1] for data in dataset]